    /************************/
    /* base styles          */
    /************************/
    div,body,td,th,p,font,li,ul,dt,dd,dl,form,blockquote,a,tr,table,i,h1,h2,h3,h4,h5,b,i
    {
    font-family: helvetica,Arial,sans-serif;
    font-size: 12pt;
    }

BODY {
   font-family: helvetica,Arial,sans-serif;
   font-size: 12pt;
}

.NAVI {
   font-size: 10pt;
}

A:LINK { color: #8b4020; }
A:VISITED { color: #5b3010; }
A:ACTIVE { color: black; }


TT, PRE { 
	font-family: lucidatypewriter,courier,fixed;
	font-size: 12pt;
	color: black; 
}

.sched
{ 
font-size: 10pt; 
vertical-align: top;
background-color: lightgrey;
}

/* for faq questions and answers */
.q
{
font-weight: bold;
}

.a
{
}

/* ----------------------------- */

.COPY { 
	font-family: helvetica,Arial,sans-serif;
	font-size: 9pt;
	color: #979492; 
}

H1 { font-size: 24pt; }
H2 { font-size: 18pt; }
.H2 { font-weight: bold; font-size: 16pt; }
H3 { font-size: 14pt; }
.H3 { font-weight: bold; font-size: 14pt; }
H4 { font-size: 12pt; }
H5, H6, H7 { font-size: 10pt; }


SUP { font-size: 8pt; }

SPAN.DT { font-weight: bold; padding-top: 8pt; }

.DATESTAMP {
	font-family: lucida, helvetica, sans-serif;
	font-size: 10pt; 
}
